/*
NAVY BLUE: #25324F
RED: #FF1654
GREY: #DEDEDE
WHITE: #FFF

*/

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, small, a, span {
  font-family: 'Oswald', sans-serif;
}

/* HEADER HEADER - START */

.header {
  background-color: #25324F;
}

.header-branding {
  width: 80%;
}

.logo {
  max-height: 7rem;
  width: auto;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.log-out {
  text-decoration: underline !important;
}

/* HEADER HEADER - END */

/* NAVIGATION NAVIGATION - START */

.tab-section {
  width: 100%;
  background-color: #FF1654;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(77, 72, 77, 0.65);
  -moz-box-shadow: 0px 3px 7px 0px rgba(77, 72, 77, 0.65);
  box-shadow: 0px 3px 7px 0px rgba(77, 72, 77, 0.65);
}

.tab-wrap {
  width: 100%;
  position: relative;
  display: flex;
}

.tab-label {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: #FF1654;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 56px;
  transition: color 0.2s ease;
  width: 100%;
}

.tab-label-content {
  width: 100%;
  font-size: 1.1rem;
}

/* .tab-label-content.selected {
  font-weight: bold;
} */

.nav-underline {
  position: absolute;
  top: 95%;
  width: 48%;
  height: 5px;
  background-color: #25324F;
  z-index: 2;
}

.nav-underline.selected {
  background-color: #25324F;
}

@media screen and (max-width: 800px) {
  h1 {
    padding: 40px 0 90px 10%;
  }
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}

/* see styles.less */

/* NAVIGATION NAVIGATION - END */

/* LAUNCHPAD LAUNCHPAD - START */

.top-row {
  border-bottom: 3px solid #25324F;
  border-top: 1px solid #25324F;
  /* background-color: #FF1654 */
}

.subtitle {
  color: #FF1654;
  font-size: 1.6rem !important;
  width: 30%;
}

.proto-name {
  color: #25324F;
  font-size: 1.2rem;
  width: 30%;
}

.multi-select {
  color: #25324F;
  width: 50%;
}

.proto-feedback-link {
  color: #FF1654;
  width: 100%;
  font-size: .9rem;
  text-align: right;
  text-decoration: underline;
  text-align: left;
}

/* LAUNCHPAD LAUNCHPAD - END */

/* TEST PILOTS TEST PILOT - START */

.pilot-img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.data-point {
  color: #25324F;
  font-size: 1rem;
}

.title-data-point {
  color: #25324F;
  font-size: 1.2rem;
  font-weight: bold;
}

.test-pilot {
  width: 100%;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(37, 50, 79, 1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(37, 50, 79, 1);
  box-shadow: 2px 2px 6px 0px rgba(37, 50, 79, 1);
}

/* TEST PILOTS TEST PILOT - END */

/* DROP DOWN LIST DROP DOWN LIST - START */

/* see react-select.min.css */

/* DROP DOWN LIST DROP DOWN LIST - END */

.page-title {
  color: #25324F;
}

.add-button-position {
  margin-right: -15px;
}

.add-button {
  background-color: #25324F;
}

.delete-button {
  background-color: #FF1654;
}

.my-tooltip {
  visibility: hidden;
  width: 120px;
  color: #FF1654;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  /* position: absolute;
  left: -1000; */
  padding-top: 3rem;
  z-index: 1;
}

.add-button-position:hover .my-tooltip {
  visibility: visible;
  transition: visibility 0s linear 300ms
}

/* PROTOTYPE SECTION PROTOTYPE SECTION - START */

/* PROTOTYPE SECTION PROTOTYPE SECTION - END */

/* FORM SECTION FORM SECTION -START */

.form-icon {
  color: #FF1654
}

input[type=text]:focus {
  color: #FF1654 !important;
}

textarea:focus {
  border-bottom: 1px solid #FF1654 !important;
  box-shadow: 0 1px 0 0 #FF1654 !important;
}

.form-confirm-btn {
  background-color: #25324F
}

.form-cancel-btn {
  background-color: #FF1654
}

.side-by-side-question {
  width: 48%;
}

.form-control:focus {
  border-color: #FF1654;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.form-error {
  width: 100%;
  text-align: center;
  color: #FF1654;
  font-size: .8rem;
  font-weight: bold;
}

.admin-check {
  margin-top: 1.1rem;
  color: #25324F;
}

/* FORM SECTION FORM SECTION - END */

/* 1REVIEW SECTION 1REVIEW SECTION - START */

.experience-title {
  color: #FF1654;
  font-size: 1.2rem;
  font-weight: bold;
  width: 25%
}

.experience-content-section {
  width: 75%;
  font-size: 1.1rem;
}

.review {
  width: 48%;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(37, 50, 79, 1);
  -moz-box-shadow: 2px 2px 6px 0px rgba(37, 50, 79, 1);
  box-shadow: 2px 2px 6px 0px rgba(37, 50, 79, 1);
}

.review-content-title {
  font-size: 1.4rem;
}

.reviewer {
  width: 30%;
}

.reviewer-name {
  color: #FF1654;
  font-size: 1.4rem;
  text-align: center;
}

.feedback {
  width: 48%;
}

.thumb {
  height: 3rem;
}

/* 1REVIEW SECTION 1REVIEW SECTION - END */

/* MODAL STYLING MODAL STYLING -START */

.btn-delete-modal {
  background-color: #FF1654
}

.btn-cancel-modal {
  background-color: #25324F
}

/* MODAL STYLING MODAL STYLING -END */

/* SIGNIN PAGE SIGNIN PAGE SIGNIN PAGE */

.signin-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 50, 79, .6);
}

.signin-homepage-video-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

video {
  width: 100vw;
}

.video-background {
  top: 0;
  left: 0;
  background-color: #000;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  -webkit-perspective: 1000;
  /* perspective: 1000; */
  overflow: hidden;
}

.signin-container {
  height: 100vh;
  color: #25324F;
  width: 84%;
  margin: auto;
  display: flex;
}

.site-title {
  font-size: 6rem;
  color: #FF1654;
}

.headline {
  color: #fff;
}

.signin.form-elegant {
  width: 38%;
  margin-right: 8rem;
  opacity: .9;
}

.form-title {
  color: #25324F !important;
}

.custom-signup-input {
  width: 48%;
}

.signin-btn {
  background-color: #FF1654;
}

.link {
  color: #25324F;
}

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half, .form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}